<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="minLengthWord" value="3"/>
    <add key="maxLengthWord" value="10"/>
    <add key="maxNbErrors" value="8"/>
    <add key="rulesDetails" value="Le joueur peut proposer soit une lettre, soit un mot complet par tour."/>
    <add key="defaultWordsFilePath" value="c:\\temp\\words.txt"/>
  </appSettings>
</configuration>