<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="minLengthWord" value="3"/>
    <add key="maxLengthWord" value="10"/>
    <add key="maxNbErrors" value="8"/>
    <add key="rulesDetails" value="Le joueur peut proposer soit une lettre, soit un mot complet par tour."/>
    <add key="defaultWordsFilePath" value="..\..\files\words.txt"/>
    <add key="defaultCharacterPath" value="..\..\files\fichiePerso.txt" />
    <add key="mainMenu" value="Tapez ? pour afficher les règles, * pour quitter le jeu et une lettre ou un mot pour jouer"/>
    <add key="symbolRules" value="?"/>
    <add key="symbolQuit" value="*"/>
    <add key="lostPrompt" value="Vous avez perdu le game"/>
    <add key="winPrompt" value="Vous avez winné"/>
    <add key="resetPrompt" value="Voulez vous reset le game ? Tapez 'oui'"/>
    <add key="endwordsPrompt" value="Il n'y a plus de mot à trouver !"/>
    <add key="symbolReset" value ="oui"/>
</appSettings>
</configuration>